<h1>Airlines#show</h1>
<p>Find me in app/views/airlines/show.html.erb</p>

<h3><%= @airline.name %></h3>

<%# We want to show flights here!  %>

<ul>
  <% @airline.flights.each do |flight| %>
    <br>
    <li><strong>Flight Number <%= flight.number %></strong></li>
    <p>Airline: <%= flight.airline.name %></p>

    <p><strong>To:</strong>  <%= flight.destination %></p>
    <p><strong>Departs:</strong>  <%= flight.etd %></p>
    <p><strong>Arrives:</strong>  <%= flight.eta %></p>
    <br>
  <% end %>
</ul>


<%#= link_to "Edit #{@airline.name}", edit_airline_path(@airline) %>
<%= button_to "Delete #{@airline.name}", "/airlines/#{@airline.id}", method: :delete %>
