<!DOCTYPE html>
<html>
  <head>
    <title>Bestest Airport</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Passengers Index', passengers_path %>
    <%= link_to 'Passengers New', new_passenger_path %>
    <%= link_to 'Airlines Index', airlines_path %>
    <%= link_to 'Airlines New', new_airline_path %>
    <%= link_to 'Flights Index', flights_path %>
    <%#= link_to 'Flights New', new_flight_path %>
    <br>
    <%= yield %>
  </body>
</html>
